body {
    background-image: url(https://wallpapercave.com/wp/wp6163941.jpg);
    background-repeat: no-repeat;
}

#titulo {
    display: inline;
    max-width: 50%;
    margin: auto;
}

#titulo2 {
    display: inline;
    max-width: 50%;
    margin: auto;
}

h1 {
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px;
}

h2 {
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    color: black;
    text-shadow: 5px 5px white;
}

h2:hover {
    color: white;
    text-shadow: 5px 5px black;
}

h1:hover {
    text-shadow: 10px 10px white;
}

#txt {
    margin-left: 190px;
}

.member-test {
    position: absolute;
    z-index: 2;
    border-radius: 200px;
    width: 200px;
}

.span {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    margin-top: 140px;
    margin-left: 23px;
}

.member-test:hover {
    z-index: 1;
    box-shadow:white 10px 10px;
}

.span:hover {
    z-index: 2;
    text-shadow: 10px 10px white;
}

.member-test2 {
    position: absolute;
    z-index: 2;
    border-radius: 200px;
    width: 200px;
    margin-left: 300px;
    margin-bottom: 200px;
}

.span2 {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    margin-top: 140px;
    margin-left: 330px;
}

.member-test2:hover {
    z-index: 1;
    box-shadow:white 10px 10px;
}

.span2:hover {
    z-index: 2;
    text-shadow: 10px 10px white;
}

.member-test3 {
    position: absolute;
    z-index: 2;
    border-radius: 200px;
    width: 200px;
    margin-left: 600px;
    margin-bottom: 200px;
}

.span3 {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    margin-top: 180px;
    margin-left: 620px;
}

.member-test3:hover {
    z-index: 1;
    box-shadow:white 10px 10px;
}

.span3:hover {
    z-index: 2;
    text-shadow: 10px 10px white;
}

.member-test4 {
    position: absolute;
    z-index: 2;
    border-radius: 200px;
    width: 200px;
    margin-left: 900px;
    margin-bottom: 200px;
}

.span4 {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    margin-top: 160px;
    margin-left: 920px;
}

.member-test4:hover {
    z-index: 1;
    box-shadow:white 10px 10px;
}

.span4:hover {
    z-index: 2;
    text-shadow: 10px 10px white;
}

.member-test5 {
    position: absolute;
    z-index: 2;
    border-radius: 200px;
    width: 200px;
    margin-left: 1200px;
    margin-bottom: 200px;
}

.span5 {
    position: absolute;
    z-index: 1;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 40px;
    margin-top: 160px;
    margin-left: 1220px;
}

.member-test5:hover {
    z-index: 1;
    box-shadow:white 10px 10px;
}

.span5:hover {
    z-index: 2;
    text-shadow: 10px 10px white;
}